$font-main: "Arial", sans-serif;
$font-extra: "Oswald", "Arial Narrow", sans-serif;
$mobile-width: 320px;
$mobile-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
$white: #ffffff;
$black-1: #000000;
$black-2: #111111;
$black-3: #222222;
$dark-grey: #444444;
$dark-grey-2: #666666;
$light-grey: #f2f2f2;
$light-grey-2: #e7e7e7;
$light-grey-3: #eaeaea;
$light-grey-4: #ebebeb;
$light-grey-5: #cdcdcd;
$light-grey-6: #d9d9d9;
$light-grey-7: #e6e6e6;
$light-grey-8: #bababa;
$green: #68b738;
$green-2: #5eaa2f;
$red: #ff8282;
